[user]
  name = Nand Dalal
  email = nndalal@umich.edu
[github]
  user = nanddalal
[alias]
  st = status
  co = checkout
  br = branch
[push]
  default = current
[pull]
  default = current
[difftool]
  prompt = true
[mergetool]
  prompt = true
[color]
  ui = true
[color "status"]
  added = yellow
  changed = green
  branch = cyan bold
[core]
  excludesfile = ~/.gitignore
