[submodule "vim/vim"]
	path = vim/vim
	url = git://github.com/vim/vim.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = git://github.com/w0rp/ale.git
[submodule "vim/.vim/bundle/delimitMate"]
	path = vim/.vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/fzf"]
	path = vim/.vim/bundle/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = git://github.com/Yggdroot/indentLine.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim/.vim/bundle/vim-rhubarb"]
	path = vim/.vim/bundle/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb.git
[submodule "vim/.vim/bundle/vim-searchindex"]
	path = vim/.vim/bundle/vim-searchindex
	url = git://github.com/google/vim-searchindex.git
[submodule "vim/.vim/bundle/vim-virtualenv"]
	path = vim/.vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
